{% extends 'layout.html.twig' %}

{% block content %}
    <div class="box cta">
        <p class="has-text-centered">
            <span class="tag is-warning">Changed</span> <a href="https://github.com/weglot/translate-bundle">Symfony integration ! Now using our brand new PHP library to communicate and manipulate the Weglot API.</a>
        </p>
        <hr />
        <p class="has-text-centered">
            <span class="tag is-primary">New</span> <a href="https://github.com/weglot/weglot-php">PHP library ! This library allows you to quickly and easily use the Weglot API via PHP.</a>
        </p>
    </div>

    <section class="container">
        <div class="intro column is-8 is-offset-2">
            <h2 class="title">One technology, multiple integrations !</h2><br>
            <p class="subtitle">Weglot integrates seamlessly into your website, adapting to your technology.</p>
        </div>

        <div class="columns features">
            <div class="column is-4">
                <div class="card is-shady">
                    <div class="card-image has-text-centered">
                        <i class="fab fa-wordpress"></i>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <div class="buttons has-addons is-centered">
                                <a class="button is-success" href="https://wordpress.org/plugins/weglot/">Get the plugin</a>
                                <a class="button is-info" href="https://weglot.com/wordpress-translation-plugin">Learn more</a>
                            </div>
                            <h4>Weglot translation plugin for WordPress</h4>
                            <p>Integrate Weglot plugin in your WordPress website to start translating and make it multilingual.</p>
                            <ul class="weglot-wordpress-features-list">
                                <li>SEO multilingual best practice</li>
                                <li>Compatible with themes &amp; plugins</li>
                                <li>Manual or automatic translations</li>
                                <li>Simple setup</li>
                                <li>Light code and fast performance</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card is-shady">
                    <div class="card-image has-text-centered">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <div class="buttons has-addons is-centered">
                                <a class="button is-success" href="https://apps.shopify.com/weglot">Get the app</a>
                                <a class="button is-info" href="https://weglot.com/shopify-translation-app">Learn more</a>
                            </div>
                            <h4>Weglot translation app for Shopify</h4>
                            <p>Integrate Weglot app in your Shopify store to start translating your website and make it multilingual.</p>
                            <ul class="weglot-wordpress-features-list">
                                <li>SEO multilingual best practice</li>
                                <li>Compatible with themes &amp; apps</li>
                                <li>Manual or automatic translations</li>
                                <li>Simple setup</li>
                                <li>Translate checkout &amp; emails</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card is-shady">
                    <div class="card-image has-text-centered">
                        <i class="fab fa-js-square"></i>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <div class="buttons has-addons is-centered">
                                <a class="button is-success" href="https://dashboard.weglot.com/profile/edit">Get your API Key</a>
                                <a class="button is-info" href="https://weglot.com/documentation/client-side-integration">Learn more</a>
                            </div>
                            <h4>Weglot translation Javascript snippet</h4>
                            <p>Integrate Weglot javascript code in your website to start translating and make it multilingual.</p>
                            <p>Just integrate the JS code before the &lt;/body&gt; tag and put your API key : it works!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}